<main>
    <div class="jumbotron">
        <h1>Ingrese Producto</h1>
    </div>
    <div>
        <form id="forms">
            <label>Nombre</label><br>
            <input placeholder="Nombre" id="nombre" name="nombre"/><br>
            <label>Precio</label><br>
            <input placeholder="Precio" id="precio" name="precio" type="number" step="any"/><br>
            <label>Imagen URL</label><br>
            <input placeholder="Imagen" id="imagen" name="imagen"/><br><br>
            <input value="Enviar" type="submit"/><br><br><br>
        </form>
    </div>
    <div id="real-time-products"></div><br>
    <hr>
</main>
<h1>Chat</h1><br>
    <div id="messages"></div>
    <br>
    <form id="form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ingresa tu email</label>
            <input class="form-control" type="email" class="form-control" id="username" id="exampleFormControlInput1" placeholder="nombre@algo.com" aria-label="default input example"/>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Escribe algo</label>
            <textarea class="form-control" id="texto" id="exampleFormControlTextarea1" rows="3"></textarea><br>

            <input type="submit" value="Enviar">
        </div>
    </form>