*{
	box-sizing: border-box;
    text-align: justify;
}

body {
	margin: 0;
}

div {
	display: block;
}
img {
    position: relative;
    display:inline;
	width: 1rem;
    height: 1rem;
}

ol{
    display:block;
}
.productos {
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.mensaje{
    color: blue;
}
time{
    color: rgb(104, 0, 0);
}
em {
    color: green;
    font-style: italic;
}
